# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/
*.egg-info/

# System files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/
*.csv

# MLflow
mlruns/
mlartifacts/

# Models
models/*.pkl
models/*.joblib

# Logs / databases
*.db
*.sqlite
*.log

# Local environment
.env
